<p>
    <a href="../container.tar.gz">
        <button class="ebBtn ebBtn_color_darkBlue ebBtn-coloured ">Download Container</button>
    </a>
</p>

<p><strong>UI SDK Container</strong> provides an environment to run the JSCore application.</p>

<p>Check out <a href="../gettingStarted.html"> getting started tutorial</a> on how to start using the container to run your app</p>

