html,body{margin:0;padding:0;font-size:10px;font-family:Arial;width:100%;height:100%;position:relative}
html,body,button,input,textarea,select{font-family:Arial,Helvetica,sans-serif}
body{overflow:hidden}
a,a:hover{color:#0066B3;text-decoration:none}
.eaContainer-SystemBarHolder{position:fixed;top:0;left:0;height:45px;width:100%;z-index:1500}
.eaContainer-applicationHolder{position:absolute;top:45px;right:0;bottom:0;left:0;overflow-y:auto;z-index:500}
.eaContainer-applicationHolder_hidden{display:none}
.eaContainer-applicationHolder_animate_fadeOut{-webkit-animation:eaContainer-applicationHolder_fadeOut .3s ease both;-moz-animation:eaContainer-applicationHolder_fadeOut .3s ease both;animation:eaContainer-applicationHolder_fadeOut .3s ease both}
.eaContainer-applicationHolder_animate_fadeIn{-webkit-animation:eaContainer-applicationHolder_fadeIn .3s ease both;-moz-animation:eaContainer-applicationHolder_fadeIn .3s ease both;animation:eaContainer-applicationHolder_fadeIn .3s ease both}
.eaContainer-applicationHolder_animate_moveToLeft{-webkit-animation:eaContainer-applicationHolder_moveToLeft .3s ease both;-moz-animation:eaContainer-applicationHolder_moveToLeft .3s ease both;animation:eaContainer-applicationHolder_moveToLeft .3s ease both;overflow:hidden}
.eaContainer-applicationHolder_animate_moveFromLeft{-webkit-animation:eaContainer-applicationHolder_moveFromLeft .3s ease both;-moz-animation:eaContainer-applicationHolder_moveFromLeft .3s ease both;animation:eaContainer-applicationHolder_moveFromLeft .3s ease both;overflow:hidden}
.eaContainer-applicationHolder_animate_moveToRight{-webkit-animation:eaContainer-applicationHolder_moveToRight .3s ease both;-moz-animation:eaContainer-applicationHolder_moveToRight .3s ease both;animation:eaContainer-applicationHolder_moveToRight .3s ease both;overflow:hidden}
.eaContainer-applicationHolder_animate_moveFromRight{-webkit-animation:eaContainer-applicationHolder_moveFromRight .3s ease both;-moz-animation:eaContainer-applicationHolder_moveFromRight .3s ease both;animation:eaContainer-applicationHolder_moveFromRight .3s ease both;overflow:hidden}
.eaContainer-Spinner{position:absolute;display:block;top:45px;right:0;bottom:0;left:0;overflow-y:auto;text-align:center;opacity:0;z-index:-1000}
.eaContainer-container-loading .eaContainer-applicationHolder{opacity:0}
.eaContainer-container-loading .eaContainer-Spinner{z-index:1000;opacity:1;transition-delay:1s;background:url(loader.gif) no-repeat center center}
@media print{.eaContainer-SystemBar{display:none}
.eaContainer-applicationHolder{top:inherit;overflow-y:inherit;position:relative}
}
@-webkit-keyframes eaContainer-applicationHolder_moveToLeft{to{-webkit-transform:translateX(-150%)}
}
@-moz-keyframes eaContainer-applicationHolder_moveToLeft{to{-moz-transform:translateX(-150%)}
}
@keyframes eaContainer-applicationHolder_moveToLeft{to{transform:translateX(-150%)}
}
@-webkit-keyframes eaContainer-applicationHolder_moveFromLeft{from{-webkit-transform:translateX(-150%)}
}
@-moz-keyframes eaContainer-applicationHolder_moveFromLeft{from{-moz-transform:translateX(-150%)}
}
@keyframes eaContainer-applicationHolder_moveFromLeft{from{transform:translateX(-150%)}
}
@-webkit-keyframes eaContainer-applicationHolder_moveToRight{to{-webkit-transform:translateX(150%)}
}
@-moz-keyframes eaContainer-applicationHolder_moveToRight{to{-moz-transform:translateX(150%)}
}
@keyframes eaContainer-applicationHolder_moveToRight{to{transform:translateX(150%)}
}
@-webkit-keyframes eaContainer-applicationHolder_moveFromRight{from{-webkit-transform:translateX(150%)}
}
@-moz-keyframes eaContainer-applicationHolder_moveFromRight{from{-moz-transform:translateX(150%)}
}
@keyframes eaContainer-applicationHolder_moveFromRight{from{transform:translateX(150%)}
}
@-webkit-keyframes eaContainer-applicationHolder_fadeOut{to{opacity:0}
}
@-moz-keyframes eaContainer-applicationHolder_fadeOut{to{opacity:0}
}
@keyframes eaContainer-applicationHolder_fadeOut{to{opacity:0}
}
@-webkit-keyframes eaContainer-applicationHolder_fadeIn{from{opacity:0}
}
@-moz-keyframes eaContainer-applicationHolder_fadeIn{from{opacity:0}
}
@keyframes eaContainer-applicationHolder_fadeIn{from{opacity:0}
}
.eb404Page{display:table;background-color:#efefef;vertical-align:middle;width:100%;height:100%}
.eb404Page-boxHolder{position:relative;display:table-cell;width:100%;height:100%;vertical-align:middle}
.eb404Page-textBox{display:block;vertical-align:middle;padding:50px;max-width:400px;margin:auto;background-color:#fff;border-radius:3px}
.eb404Page-header{border-bottom:1px solid #CCC;margin-bottom:20px;padding-bottom:10px}
.eb404Page-header-title{position:relative;display:inline-block;vertical-align:middle;border:none;font-size:2.8rem;margin-left:15px;padding:0}
.eb404Page-header-icon{position:relative;display:inline-block;vertical-align:middle;width:28px;height:28px;background:url(warning_icon.svg) no-repeat center}
.eb404Page-body{margin-left:45px;font-size:1.2rem}
@media screen and (max-width:500px){.eb404Page-textBox{margin:0;width:100%;height:100%}
}
.ebIntroPage{position:absolute;display:table;top:45px;bottom:0;left:0;right:0;vertical-align:middle;width:100%;height:100%;height:-moz-calc(100% - 45px);height:-webkit-calc(100% - 45px);height:-o-calc(100% - 45px);height:calc(100% - 45px)}
.ebIntroPage-boxHolder{position:relative;display:table-cell;width:100%;height:100%;vertical-align:middle}
.ebIntroPage-textBox{position:relative;display:block;vertical-align:middle;padding:50px;max-width:500px;margin:auto;background-color:#fff;border-radius:3px}
.ebIntroPage-header{position:relative;border-bottom:1px solid #CCC;margin-bottom:20px;padding-bottom:30px}
.ebIntroPage-header-text{position:absolute;left:250px;right:0;bottom:30px;margin-left:15px;padding:0;font-weight:700}
.ebIntroPage-icon{position:relative;display:inline-block;background:no-repeat center}
.ebIntroPage-icon-header{width:235px;height:128px;background-image:url(Intro_text.svg)}
.ebIntroPage-icon-question,.ebIntroPage-icon-arrow{vertical-align:top;width:24px;height:24px}
.ebIntroPage-icon-arrow{background-image:url(Intro_arrow.svg)}
.ebIntroPage-icon-question{background-image:url(Intro_question.svg)}
.ebIntroPage-body h2{border:none;padding:0;padding-bottom:15px}
.ebIntroPage-body-part{position:relative;display:inline-block;width:45%}
.ebIntroPage-body-part:not(:first-child){margin-left:9%}
.ebIntroPage-body-container{position:relative;display:inline-block;margin-left:10px;width:-moz-calc(100% - 40px);width:-webkit-calc(100% - 40px);width:-o-calc(100% - 40px);width:calc(100% - 40px)}
@media screen and (max-width:500px){.ebIntroPage-textBox{margin:0;width:100%;height:100%;max-width:400px}
}